<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Um texto falando sobre mim</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>


</body>

</html>